* {
    margin: 0; /* Delete the default margin on the page */
    padding: 0; /* Delete the default padding on the page */
    box-sizing: border-box; 
}

body {
    background-color: url(/Images/dark-Background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden; /* Hide the overflow of content at X axis */
    
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px; /* making space inside the header */
    font-size: 20px;
    background: #191A19;
    
}

a {
    text-decoration: none; /* Remove the lines under the links */ 
}

.logo {
    width: 600px;
    color: #259cd7;
    font-weight: 1000; /* making the text bolder */
    font-style: italic;
    text-transform: uppercase;
    transition: 0.3s;
}


.logo:hover {
    transform: translate(-2px, -2px); /*moving -2px on both Y and X axels while putting the pointer on the logo */
    color: #fff; 
    letter-spacing: 3px;
}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

li {
    list-style: none;
}

.nav a {
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
}

.nav a:hover {
    color: #259cd7;
    font-size: 1.2rem;
    letter-spacing: 3px;
    font-weight: 500; /* makes the text bolder when the pointer is moved on them */
}

.inloggning {
    display: flex;
    justify-content: end;
    width: 600px;
}

.inloggning a {
    color: #fff;
    padding: 20px;
    transition: 0.3s;
}

.inloggning a:hover {
    color: #259cd7;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
}

.leagues {
    width: 100%; /* takes 100% of the page width */
    height: 100%; /* takes 100% of the page height */
    background: #191A19;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 100px 50px ; /* padding top an bottom by 100px and two sides by 50px */
}

.leagues a {
    color: #191A19;
    text-align: center;
    font-size: 1.5rem;
    transition: 1s; /* it takes 1 second to change the styles */
    
}

.leagues a:hover {
    color: #fff;
    letter-spacing: 4px;
    font-style: italic;
}

.leagues a img {
    width: 400px;
    height: 300px;
    border-radius: 50px; /* giving curved corners to the images */
    padding: 40px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px #259cd7; /* adding shadow around the content */
    transition: 0.5s; 
}

.leagues a img:hover {
    background-color: #259cd7; /*white background while pointing on the images */
    transform: translate(20px, -20px); /* move up the image while pointing on it */ 
}
/* Responsive design for tablets and devices with max-width 992px */
@media (max-width: 992px) {
   
    body {
        overflow-x: hidden;
    }
    
    header {
        display: inline-block;
    }

    .logo {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .nav {
        padding-top: 15px;
    }

    .inloggning {
        justify-content: center;
        margin: auto;
    }

    .leagues a img {
        width: 400px;
        height: 220px;
    }
}

/* Responsive design for devices that are smaller och equal to 600px width */
@media (width <= 600px) {
    
    body {
        overflow-x: hidden;
    }
    .logo {
        padding-top: 5px;
        margin: auto;
    }

    .leagues a img {
        width: 400px;
        height: 220px;
    }
    
}